
.mat-toolbar-row {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}

.spacer {
  flex-grow: 1;
}


.button-container {
  display: flex;
  gap: 15px;
  margin-left: auto;
  margin-top: 10px;
}

mat-form-field{
    width:100%;
    padding-bottom:4%;  
    display: block;
    
}
.example-radio-group {
    display: flex;
    flex-direction:row;
    margin: 15px 15px;
    align-items:flex-start;
  }
  
  .example-radio-button {
    margin: 4px;
  }
  .example-spacer {
    flex: 1 1 auto;
   
  }

  .button-container1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 38px;
  }
  
  .button-wrapper {
    margin-left: auto;
  }
  
  .registration-form {
    margin: 3% 3%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button.mat-raised-button {
    margin-top: 4%;
    align-self: center;
  }
  .button-container {
    
      display: flex;
      justify-content: center;
      bottom: 20px;
      left: 0;
      right: 0;
  }
  @media screen and (max-width: 600px) {
    .logo {
      font-size: 20px;
    }
  
    button {
      font-size: 14px;
    }
  }
  
  
  
  
  
  
  
  
  

 

 