mat-form-field{
    width:100%;
    padding-bottom:4%;  
    display: block;
    
}
.example-radio-group {
    display: flex;
    flex-direction:row;
    margin: 15px 15px;
    align-items:flex-start;
  }
  
  .example-radio-button {
    margin: 4px;
  }
  .example-spacer {
    flex: 1 1 auto;
   
  }

  .button-container {
    display: flex;
    gap: 10px;
  }
  .registration-form {
    margin: 3% 3%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button.mat-raised-button {
    margin-top: 4%;
    align-self: center;
  }
  .button-container {
    
      display: flex;
      justify-content: center;
      bottom: 20px;
      left: 0;
      right: 0;
 
    
  }
  
  
  
  
  
  
  
  

 

 