.main-div mat-card{
    padding: 0%;
    justify-content: center;
}
.login-form{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    
}
.btn-last {
  text-align: center;
  margin-top: 10px;
}
.example-form {
    min-width: 300%;
    max-width: 500%;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .container{
  
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  @media screen and (max-width: 768px) {
    .header-image {
      width: 100%;
      height: auto;
    }
  }