.content-1{
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    
}
.content-2{
    margin-top: 10px;
    margin-bottom: 10px;
}
#content_data{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
   
}