<img src="assets/img/aboutus.jpg" alt="aboutus" height="450px" width="1343px" >
<div class="content">
    <div class="content-1">
        <h3 style="font-size: 30px; "><b>About Sunrise Colive PG</b></h3>
    </div>
    <div class="content-2">
        <h3>
            <div id="content_data">Welcome to Sunrise Colive PG, your one-stop solution for premium living spaces in the heart
                 of the city. We are a team of dedicated professionals who are committed to providing
                  hassle-free and comfortable living experiences for young professionals. Our journey
                   began with the aim to create a community of like-minded individuals who share a 
                   passion for living life to the fullest. We understand the challenges of finding 
                   suitable living spaces in the city, especially for young professionals who are just starting their careers. 
                   That's why we created Sunrise Colive PG to make it easier for individuals to find a home away from home.
            </div>       

            <div id="content_data">Our team is passionate about providing high-quality services to our guests. 
                We have carefully curated our living spaces to provide comfort, convenience,
                 and affordability. Sunrise Colive PG offer a wide range of amenities to make your stay as 
                 comfortable as possible. We believe that the success of Sunrise Colive PG lies in our commitment
                  to providing a personalized experience to each of our guests. Our team is available round-the-clock 
                  to address any queries or concerns that you may have. We strive to create a community that fosters 
                  growth, collaboration, and networking opportunities. 
            </div>      

           
            <div id="content_data"> At Sunrise Colive PG, we understand that every guest is unique, and that's why we offer flexible
                    rental plans to fit your individual needs. We are constantly innovating and upgrading our services
                    to provide you with the best living experience possible. Thank you for choosing Sunrise Colive PG as your 
                    preferred living partner. We look forward to welcoming you to our community of young
                    professionals.
            </div>

        </h3>

        <div class="content-1" id="content_data-1">
            <h3 style="font-size: 27px;"><b>Complaints/Issues</b></h3>
        </div>

        <div id="content_data">
           <h3>For any type of issues/inconveniences, please write it in the complaints book available in 
               the office rooms, and you can also send sms or WhatsApp @ +91 8688751189 For any type of 
                issues/inconveniences, please write it in the complaints book available in the office rooms,
                and you can call <b>  +91 9148387589 </b> or email <b>sunrisecolivepg@gmail.com </b>.
           </h3>
        </div>

        <div class="content-1" id="content_data-2">
            <h3 style="font-size: 27px;"><b>Couriers And Deliveries</b></h3>
        </div>

        <div id="content_data">
            <h3>In case if you order anything online to the PG’s address, Collect the items immediately 
                from the office without any delay. management is not responsible for any loss of your 
                parcels/couriersPlease do not order anything for cash on delivery as management will 
                not pay on your behalf.
            </h3>
        </div>

    </div>
</div>

