.mat-toolbar-row {
    justify-content: space-between;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  .nav-size button {
    margin-right: 10px;
    font-size: 17px;
  }
  
  .spacer {
    flex-grow: 10;
  }

  .b-toolbar {
    height: 40px; /* Adjust the height as desired */
    margin-top: 10px;
  }
  
  .b-toolbar p {
    font-size: 15px; /* Adjust the font size as desired */
  }

  .row.footer-hline {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    flex-wrap: wrap;
  }

.row.footer-hline {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
}

.footer-hline .f_widget {
  margin-bottom: 15px;
  margin-top: 20px;
  font-size: 16px;
}

.footer-hline .f_title {
  margin-bottom: 15px;
  margin-top: 20px;
}

.footer-hline h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.footer-hline ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-hline ul li {
  margin-bottom: 10px;
}

.footer-hline ul li a {
  color: #666;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-hline ul li a:hover {
  color: #333;
}

.footer-text {
  font-size: 14px;
  line-height: 1.5;
}

.footer-text i {
  margin-right: 10px;
}

.footer-text.f-s-20 {
  font-size: 20px;
}

.col-md-3 col-xs-6{
  font-size: 20px;
}
.ab_wd_list{
  margin-left: 15px;
  font-style: normal;
  font-size: 19px;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.column-links button:hover {
  cursor: pointer;
  transform: scale(1.03);
  color: #fff235;
}


@media (max-width: 768px) {
  /* Styles for mobile screens */
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 20px;

  }

  .show {
    display: none;
    position:absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
 

  .column-links {
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    flex-wrap: wrap;
    
  }

  .column-links button {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: transparent;
    border:none;
    color: #333;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: 100%;
  }

  .column-links button:hover {
    background-color: #eee;
  }
  .row.footer-hline{
    align-items: center;
  }
  .show.active {
    display: block;
  }
  .row.footer-hline {
    flex-direction: column; /* Stack the columns vertically */
    align-items: flex-start; /* Align the content to the start */
  }
}


@media (min-width: 769px) {
  /* Styles for larger screens */
  .nav-links {
    display: flex;
    align-items: center;
  }

  .menu-icon {
    display: none;
  }
}






  
