<mat-toolbar color="primary" class="sticky-toolbar">
    <mat-toolbar-row>
      <mat-label class="logo">Sunrise Colive PG</mat-label>
      <span class="spacer"></span>
      <div class="nav-size">
      <button mat-button routerLink="/home" >Home</button>
      <button mat-button routerLink="/aboutus" >About us</button>
      <button mat-button routerLink="/amenities" >Amenities</button>
      <button mat-button routerLink="/gallery">Gallery</button>
      <!--<button mat-button routerLink="/packages" >Packages</button> -->
      <button mat-button routerLink="/contactus">Contact us</button>
      <button mat-fab extended routerLink="/register" style="background-color:rgb(44, 132, 17);color:white" >Book a bed</button>
      <button  class="example-button-row" mat-fab extended routerLink="/login"  style="color:white;"> Login </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
<router-outlet></router-outlet>
<lib-ng-toast></lib-ng-toast>
<ng-confirm></ng-confirm>


<div class="row footer-hline">
  <div class="col-md-3 col-xs-6">
    <aside class="f_widget about_widget">  
      <div class="ab_wd_list">
        <div class="media footer-text">Sunrise Colive PG is one of the friendliest and fun-filled PG in Bangalore run by young energetic team full of dedication and commitment.</div>
      </div>
    </aside>
  </div>
  <div class="col-md-2 col-xs-6">
    <aside class="f_widget link_widget">
      <div class="f_title">
        <h3>Menu</h3>
      </div>
      <ul>
        <li><a routerLink="home">-  Home</a></li>
        <li><a routerLink="aboutus">- About Us</a></li>
        <li><a routerLink="amenities">- Amenities</a></li>
        <li><a routerLink="gallery">- Gallery</a></li>
      </ul>
    </aside>
  </div>
  <div class="col-md-4 col-xs-6">
    <aside class="f_widget link_widget">
      <div class="f_title">
        <h3>Information</h3>
      </div>
      <ul>
        <li><a routerLink="contactus">- Contact Us</a></li>
        <li><a routerLink="contactus#content-data-1">- Complaints/Issues</a></li>
        <li><a routerLink="contactus#content-data-2">- Couriers and Deliveries</a></li>
      </ul>
    </aside>
  </div>
  <div class="col-md-3 col-xs-6">
    <aside class="f_widget instagram_widget">
      <div class="f_title">
        <h3>Contact Us</h3>
      </div>
      <div class="media-left"> <i class="fa fa-map-marker footer-text"></i> </div>
      <div class="media-body footer-text"> #228, Sunrise Studio Rooms, Pg, Co-Living, Behind Srinidhi Signature, Hope Farm Signal, Whitefield, Ambedkar Nagar, Bengaluru, Karnataka 560066 </div>
      <div class="media">
        <div class="media-left"> <i class="fa fa-mobile footer-text f-s-20"></i> </div>
        <div class="media-body footer-text"> +91 8688751189 (WhatsApp) </div>
        <div class="media-body footer-text"> +91 9951045789 </div>
      </div>
    </aside>
  </div>
</div>
<mat-toolbar color="primary" class="b-toolbar">
  <p>&copy; 2023 Sunrise Colive PG.  All rights reserved.</p>
</mat-toolbar>



