table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .filter-spacer{
    width: 250px;
    margin-top: 12px;
    margin-left: 300px;
  }
  
  td, th {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.table-reponsive{
  overflow-x: auto;
}

.d-flex {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .d-flex {
    flex-direction: column;
    align-items: stretch;
  }
}


 
  

  
  