<!-- <div class="image-container">
     <img src="./assets/images/img21.png" alt="Second Image">
  </div> -->
  
  <!-- Button container -->
  <div class="button-container1">
    <div class="button-wrapper">
      <button mat-stroked-button routerLink="/callreturn">Call Requests</button>
      <button mat-stroked-button routerLink="/register">Registration Form</button>
    </div>
    <div class="button-wrapper">
      <button mat-stroked-button routerLink="/list">Existing Customers</button>
      <button mat-stroked-button routerLink="/prereserve">Pre Reservation</button>
    </div>
    <div class="button-wrapper last-row">
      <button mat-stroked-button routerLink="/visittable">Visiting Customers</button>
    </div>
  </div>
  
  
