
<div class="button-container1" >
    <div class="button-wrapper">
      <button mat-stroked-button routerLink="/callreturn">
        <mat-icon>phone</mat-icon> <!-- Icon for Call Requests -->
        Call Requests
      </button>
    </div>
    <div class="button-wrapper">
      <button mat-stroked-button routerLink="/register">
        <mat-icon>person_add</mat-icon> <!-- Icon for Registration Form -->
        Registration Form
      </button>
    </div>
    <div class="button-wrapper">
      <button mat-stroked-button routerLink="/list">
        <mat-icon>group</mat-icon> <!-- Icon for Existing Customers -->
        Existing Customers
      </button>
    </div>
  </div>
  
  <div class="button-container1">
    <div class="button-wrapper">
      <button mat-stroked-button routerLink="/prereserve">
        <mat-icon>event</mat-icon> <!-- Icon for Pre Reservation -->
        Pre Reservation
      </button>
    </div>
    <div class="button-wrapper last-row">
      <button mat-stroked-button routerLink="/visittable">
        <mat-icon>assignment_ind</mat-icon> <!-- Icon for Visiting Customers -->
        Visiting Customers
      </button>
    </div>
    <div>
        <pre>















        </pre>
    </div>
  </div>

  
  
  
  
  
