<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25" fxFlex.lt-md="90" >
        <mat-toolbar color="primary">Sign Up </mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="signup-form" [formGroup]="signupForm" (ngSubmit)="signUp(signUpData)">
            <mat-form-field >
              <input formControlName="name" matInput type="text" placeholder="Name" required>
              <mat-error *ngIf="signupForm.controls['name'].errors?.['required']">Name is required</mat-error>
              <mat-error *ngIf="signupForm.controls['name']?.errors?.['pattern']">Invalid name format</mat-error>
            </mat-form-field>

            <mat-form-field >
                <input formControlName="mobile" matInput  placeholder="Mobile" required>
                <mat-error *ngIf="signupForm.controls['mobile'].errors?.['required']">Mobile number is required</mat-error>
                <mat-error *ngIf="signupForm.controls['mobile']?.errors?.['pattern']">Invalid mobile number format</mat-error>
              </mat-form-field>

            <mat-form-field >
                <input formControlName="email" matInput type="text" placeholder="email"  required>
                <mat-error *ngIf ="signupForm.controls['email'].errors?.['required']">email is required</mat-error>
                <mat-error *ngIf="signupForm.controls['email']?.errors?.['pattern']">Invalid email format</mat-error>
            </mat-form-field>
          
            <mat-form-field >
              <input formControlName="password" matInput type="password" placeholder="Password" required>
              <mat-error *ngIf="signupForm.controls['password'].errors?.['required']">password is required</mat-error>
              <mat-error *ngIf="signupForm.controls['password'].errors?.['pattern']">Invalid password format</mat-error>
            </mat-form-field>


            <button mat-raised-button style="background-color: green;color: whitesmoke;" type="submit">Sign Up</button>
        </form> 
        <h3 class="btn-last">Have an account? <a routerLink="/login">Login</a>  </h3>  
    </mat-card>
</div>
