.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 400px; 
  max-height: 600px;
 
}
.signup-form{
  padding: 20%;
  display: flex;
  flex-direction: column;
  gap: 16%;
  min-width: 300px; 
  max-width: 500px; 
  width: 100%;
  
}
.example-form {
    min-width: 300%;
    max-width: 500%;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .btn-last {
    text-align: center;
    margin-top: 16px;
  }

 

  
  