<img [src]="url" alt="contact" height="330px" width="1345px" >
<div class="container">
    <div class="container">
        <div class="contact-info">
          <div><i class="fa fa-map-marker " style="font-size: 20px;"></i></div>
          <h3 ><b >Address:</b>  #228,Sunrise Studio Rooms, Pg, Co-Living, Behind Srinidhi Signature, Hope Farm Signal, Whitefield, Ambedkar Nagar, Bengaluru, Karnataka 560066</h3>
          <div><i class="fa fa-clock-o" style="font-size: 20px;"></i></div>
          <h3><b>Opens:</b> 24 hours</h3>
          <div><i class="fa fa-mobile footer-text" style="font-size: 25px;"></i></div>
          <h3><b>Contact number: </b>+91 8688751189 (WhatsApp) , +91 9951045789</h3>
          <div> <i class="fa fa-envelope" aria-hidden="true footer-text f-s-15"></i></div>
          <h3><b>Email:</b> info.sunrisecolivepg@gmail.com</h3>
        </div>
        <div class="google-map">
          <iframe
            width="720px"
            height="330px"
            frameborder="0"
            style="border: 0"
            src="https://www.google.com/maps?q=Sunrise%20Studio%20Rooms,%20Pg,%20Co-Living,%20Behind%20Srinidhi%20Signature,%20Hope%20Farm%20Signal,%20Whitefield,%20Ambedkar%20Nagar,%20Bengaluru,%20Karnataka%20560066&output=embed"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      
  
  
  