<div class="container1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div class="image-container">
    <img src="assets/img/Sunrise PG.jpg" height="650px" width="1405px">
  </div>
</div>

<div class="container">
  <form [formGroup]="callRequestForm" (ngSubmit)="submit()" class="call-request-form">
    <div class="overlay">
      <h2>Request a callback</h2>
      <mat-form-field>
        <mat-label>Branch</mat-label>
        <mat-select formControlName="branch">
          <mat-option *ngFor="let branch of branches" [value]="branch">
            {{branch}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" formControlName="name">
      </mat-form-field>
      

      <mat-form-field>
        <mat-label>Mobile</mat-label>
        <input matInput type="text" name="mobile" formControlName="mobile">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea matInput name="message" formControlName="message" placeholder="Message" style="width: auto;height:70px;"></textarea>
      </mat-form-field>

      <button mat-raised-button type="submit" class="image-fit" style="background-color: rgb(11, 122, 11); color: white;">Submit</button>

    </div>
  </form>

  <div class="content-part">
    <div class="heading">
      <h1 style="font-size: 35px; color: #ff8a1d;"><b>Welcome To Sunrise Colive PG</b></h1>
    </div>

    <div class="content">
      <h3>Welcome to Sunrise Colive PG, your home away from home. Our comfortable and fully furnished PG accommodations are designed to meet all your needs, providing a safe and secure living environment.</h3>
    </div>

    <div class="content-2">
      <h3>
        Our PGs are located in prime areas of the city, close to public transportation, restaurants, and shopping centres. We offer a range of rooms to choose from, including single and shared accommodations, all equipped with modern amenities such as Fridge, Washing Machine, Cloths Dryer, 24/7 Hot Water, Gym, Wi-Fi, RO Water and 24/7 power backup. Inside room facilities Smart TV, TV Stand, Computer Table, Chair, Wardrobe, Spring Mattress (Branded).
      </h3>
    </div>

    <div>
      <h3>
        At Sunrise Colive PG, we understand that your comfort and safety are our top priorities. That's why we provide round-the-clock security, CCTV surveillance, and maintenance services. Our dedicated staff is always available to assist you with any concerns you may have. In addition to comfortable living spaces, we also offer a range of facilities to make your stay more enjoyable. Our common areas include a fully equipped kitchen, dining area, Table Tennis and Foosball, where you can relax and socialize with other residents. Whether you're a student, working professional, or just looking for a comfortable place to call home, Sunrise Colive PG is the perfect choice. So why wait? Book your stay with us today and experience the ultimate PG living experience.
      </h3>
    </div>

    <div>
      <p class="center_title-1">Why Choose Our PG</p>
      <div>
        <p class="center_title-2">We are providing the best and more affordable stay for ladies & Gents</p>
      </div>
    </div>

    <div class="context-3" style="font-style: italic;">
      <div class="left-text">
        <h3>24 Hrs Security</h3>
        <h3>Power Backup</h3>
        <h3>Essential Infrastructure</h3>
        <h3>24 Hrs Hot water</h3>
      </div>
      <div class="center-text" style="text-align: center;">
        <h3>CCTV Surveillance</h3>
        <h3>House Keeping & Maintenance</h3>
        <h3>Self-Cooking</h3>
        <h3>Power Backup</h3>
      </div>
      <div class="right-text" >
        <h3>Free WiFi</h3>
        <h3>Laundry</h3>
        <h3>Refrigerator</h3>
        <h3>3 Times Food</h3>
      </div>
    </div>

    <div class="explor_title row m0">
      <div class="col-md-6 text-center">
        <div class="center_ex_title" >
          <b><h2 class="center_title-1">Explore our <span>rooms</span></h2></b>
          <p class="center_title-2">Choose a room according to your comfort</p>
        </div>
      </div>
      <div class="col-md-6 text-right" style="margin-left: 80%;">
        <a class="about_btn_b border-radius-50" href="/gallery">
          <button>View Photos</button>
        </a>
      </div>
     <!-- Feedback button container -->
     <div class="feedback-button-container" *ngIf="showFeedbackButton">
      <button class="feedback-button" (click)="openFeedbackForm()">Give Feedback</button>
    </div>
  
    
  
    
    </div>

    <section class="explor_room_area">
      <div class="container">
        <div class="row explor_room_item_inner">
          <div class="col-md-4 col-sm-12">
            <div class="explor_item" style="margin-bottom: 20px;">
              <img src="assets/images/img8.jpg.JPG" alt="Single Sharing Room" width="250px" height="300px">
              <div class="explor_text">
                <h4 style="font-size: 20px;"><a href="/home">Single Sharing Room</a></h4>
                <ul>
                  <li><span class="f-w-600">Advance</span></li>
                  <li>Same as Room Rent Per Sharing</li>
                  <li><span class="f-w-600">Refundable</span> from the advance <span class="f-w-600">₹3000*</span> will be deducted while vacating time</li>
                </ul>
                <div class="explor_footer">
                  <div class="pull-left">
                    <span>Starts from</span>
                    <h3 class="f-s-16">₹18,000 <span>/ Month</span></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="explor_item" style="margin-bottom: 20px;">
              <img src="assets/images/img1.jpg.JPG" alt="2 Sharing Room" width="250px" height="300px">
              <div class="explor_text">
                <h4 style="font-size: 20px;"><a href="/home">2 Sharing Room</a></h4>
                <ul>
                  <li><span class="f-w-600">Advance</span></li>
                  <li>Same as Room Rent Per Sharing</li>
                  <li><span class="f-w-600">Refundable</span> from the advance <span class="f-w-600">₹2000*</span> will be deducted while vacating time</li>
                </ul>
                <div class="explor_footer">
                  <div class="pull-left">
                    <span>Starts from</span>
                    <h3 class="f-s-16">₹10,000 <span>/ Month</span></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="explor_item" style="margin-bottom: 20px;">
              <img src="assets/images/img9.jpg.JPG" alt="3 Sharing Room" width="250px" height="300px">
              <div class="explor_text">
                <h4 style="font-size: 20px;"><a href="/home">3 Sharing Room</a></h4>
                <ul>
                  <li><span class="f-w-600">Advance</span></li>
                  <li>Same as Room Rent Per Sharing</li>
                  <li><span class="f-w-600">Refundable</span> from the advance <span class="f-w-600">₹2000*</span> will be deducted while vacating time</li>
                </ul>
                <div class="explor_footer">
                  <div class="pull-left">
                    <span>Starts from</span>
                    <h3 class="f-s-16">₹7,500 <span>/ Month</span></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
      <!-- Rotating feedback section -->
      <div class="feedback-container">
        <h2>What our customers are saying:</h2>
        <div class="feedback-content" style="font-style: italic;">
          <div *ngIf="feedbacks.length > 0">
            <p class="feedback-message">{{ getCurrentFeedback().message }}</p>
            <p class="feedback-name">- {{ getCurrentFeedback().name }}</p>
          </div>
          <div *ngIf="feedbacks.length === 0">No feedback available.</div>
        </div>
      </div>
      <div ></div>
      <div class="center-button-container">
        <a class="custom-button" href="https://www.google.com/maps/place/Sunrise+studio+rooms,Pg,+Co-Living,/@12.983457,77.752954,15z/data=!4m8!3m7!1s0x3bae0f8d742c7fe7:0xbbcbcc2684389aaf!8m2!3d12.9831266!4d77.752861!9m1!1b1!16s%2Fg%2F11p_5sh_v3?hl=en-US&entry=ttu" target="_blank">
          View more testimonials on Google
        </a>
      </div>
      
      
      
      </div>
      

       <!-- Scrolling carousel for images -->
       <div style="margin-top: 20px; align-items: center;">
        <h2>Our PG's <span> Gallery</span> </h2>
        <p>Please View Some of our PG's Photo Gallery</p>
       <div class="carousel-container">
        <div class="carousel-track" >
          <img src="assets/images/img1.jpg.JPG" alt="Image 1">
          <img src="assets/images/img2.jpg.JPG" alt="Image 2">
          <img src="assets/images/img10.jpg.JPG" alt="Image 3">
          <img src="assets/images/img9.jpg.JPG" alt="Image 4">
          <img src="assets/images/img5.jpg.JPG" alt="Image 5">
          <img src="assets/images/img6.jpg.JPG" alt="Image 6">
          <img src="assets/images/img7.jpg.JPG" alt="Image 7">
          <img src="assets/images/img8.jpg.JPG" alt="Image 8">
          <img src="assets/images/img9.jpg.JPG" alt="Image 9">
          <img src="assets/images/img10.jpg.JPG" alt="Image 10">
        </div>
    </div>
  </div>
</div>
  



  

  
  
  
  
  
  
  
  

    
